@import url('./styles.css');

.pagina__adopet {  
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    background-image: url('img/Vector 1.png'), 
                      url('img/Vector 4.png'), 
                      url('img/Ilustracao 1.png'),
                      url('img/Forma 2.png'); /*aumentar onda lateral*/
    background-position: left top , left top, bottom 5.375em center , right;
}

.conteudo {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1; 
    width: 70%
}
  
.conteudo-logo__adopet {
    padding-top: 2.2em;
}
 
.conteudo-cabecalho__texto {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.conteudo__titulo {
    padding: 0.7em;
    font-size: 25px;
    line-height: 10px;
    font-weight: 400px;
    padding-top: 16px;
}

.conteudo__paragrafo {
    line-height: 24px; 
    padding: 2em auto 5em auto;  
    margin-top: 16px auto 16px auto;
    text-align: center;
}

.conteudo__botao {
    display: block;
    margin: 1em auto 1em auto; 
    padding: 0.8em;
    width: 11em;
    height: 1em;
    border-radius: 6px;
    background-color: var(--coral);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25)); 
    box-shadow: 2px 2px 4px 0px #00000040;
}

.conteudo__botao a {
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width:377px) {
    .cabecalho {
        padding: 3em; 
    }
    /*
    .cabecalho__imagem { 
        padding-right: 3em; 
    } */
    
    .conteudo {
        text-align: center;
    }

    .conteudo__logo {
        padding-top: 2.2em;
    }

    .conteudo__titulo {
        padding: 0.7em;
        font-size: 25px;
        line-height: 10px;
    }

    .conteudo__paragrafo {
        margin-top: 16px auto 16px auto;
        text-align: center;
    }

    .conteudo__botao {
        display: block;
        margin: 1em auto 1em auto; 
        padding: 0.8em;
        width: 11em;
        height: 1em;
    }

}