* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

body {
    background-color: var(--cinza);
}

.cabecalho {
    padding: 2.2em;
    padding-left: em;
}

.cadastro-imagem-header-lateral__patas {
    background-image: url('img/Patas.png');
    background-position: top right;

} 


