


/*


@import url("styles/rodape.css");


.rodape {
    color: var(--branco);
    background-color: var(--verde);
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 2em 1em;
    position: relative;
  
}
*/