/* @import url("styles/header.css");
@import url("styles/reset.css"); 
*/

:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --branco: #E5E5E5;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;

    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
    
}

body {
    background-image: url('img/Vector 1.png'), 
                      url('img/Vector 4.png'), 
                      url('img/Forma_2.png'), 
                      url('img/Ilustracao.svg');
    background-repeat: no-repeat;
    background-position: left top, left top , right, bottom 5.375em center, bottom  ;
    min-height: 100vh; /* altura do rodape*/
    position: relative;
    font-size: 16px;
}

/*
.background-animais__imagem {
    width: 20em;
    height: 19em;
    right: 3em;
    position: relative;
  /* margin-bottom: -15em;
}
  
.background__Forma2 {
    background-image: url('img/Forma_2.png');
    background-repeat: no-repeat;
    width: 20em;
    height: 19em;
    right: 3em;
    background-position: right;
    /as imagens estao q estao , eita/
}
*/
.fundo__azul {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}
 
.cabecalho {
    padding: 3em; /* 16px */
  /*  border-left: 3%;
    margin-right: 0em; */
}

.cabecalho__imagem {
    padding-right: 1em;
    
}
 
.conteudo {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1; /* com esse flex aqui neste projeto dá até pra deixar sem o grow */
    width: 70%
    
   /* height: 100vh; ->essa altura nao serve neste caso pq ele é mobile e vh é fixo, onde estiver fica
      width: 70%;
      padding-bottom: 50vh;
      margin: 0 auto; */
   
}

.conteudo__titulo {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
}

.conteudo__paragrafo {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.conteudo__link {
    display: block;
    margin: 0 auto 1em auto; 
    padding: 0.5em;
    width: 13em;
    border-radius: 6px;
    color: var(--branco);
    background-color: var(--coral);
    font-family: var(--fonte-principal);
    font-size: 16px;
    text-decoration: none;

}

/*
---> Isso aqui é resetar na mao mesmo
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;-> altera a forma de utulizar paddings e imagens

}
*/

.rodape {
    position: relative;
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    background-color: var(--verde);
    text-align: center;
    padding: 0.1em; /* colocar 3em em media query telas maiores*/
    
    
}

.rodape__texto {
    line-height: 6em;
  /*  text-align: center;
    align-items: center;  */
}
  
     
      /* tela responsiva 377 x 1063  */
@media screen and (min-width:377px) {  
    body {
        font-size: 16px;
        padding: 3em;
       
        
    } margin: 0, 0, 0, 0;
    
}  












/*


body {
    background-color: var(--azul);
    background-position: left;

}



.pagina__inicial--logo {
    padding: 16px;
    text-align: center;
}

.menu__h1 {
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.menu__p {
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    align-items: center;
    font-size: 16px;
    text-align: center;
}
.container__menu--botao {
    background-color: var(--coral);
    color: var(--branco);
    text-align: center;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 13em;
   align-items: center;
 float: center;
}






  
   
   
    
   
    


.rodape {
    color: var(--branco);
    background-color: var(--verde);
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 2em 1em;
    position: relative;
  
}


    /* tela responsiva 377 x 1063 
@media screen and (min-width:320px) {  
    body {
        font-size: 16px;
        padding: 36px;
    }
}

/* tela tablet 768px x 1063 

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;

    }
}

/* tela laptop 1024px x 1063 

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;

    }
}

*/