@import url(./styles/reset.css); 
@import url(./pagina-inicial.css);


                                       
:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --branco: #FFFFFF;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
    --cinza-placeholder: #BCBCBC;  
}

body {
    background-image: url('img/Vector 1.png'), 
                      url('img/Vector 4.png'), 
    background-repeat: no-repeat;
    background-position: left top , left top, bottom 5.375em center , right ;
    background-size: 20em 20em 4em 0;
    min-height: 100vh; 
    position: relative;
    font-size: 16px;
    line-height: 1;
}

.background__inicial {  
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
}
 
.cabecalho {
    padding: 3em; 
}

.cabecalho__imagem { 
    padding-right: 3em; 
}
 
.conteudo {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1; 
    width: 70%
}
 
.conteudo__titulo {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    padding: 0.7em;
    font-size: 25px;
    line-height: 10px;
}

.rodape {
    position: relative;
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 17px;
    background-color: var(--verde);
    text-align: center;
    padding: 0.1em; 
}

.rodape__texto {
    line-height: 4em;
    font-family: var(--fonte-principal);
}

@media screen and (min-width: 377px) {
    .cabecalho {
        padding: 3em; 
    }
    
    .cabecalho__imagem { 
        padding-right: 3em; 
    }
     
    .conteudo {
        text-align: center;
        margin: 0 auto;
        flex-grow: 1; 
        width: 70%

    }
}


/*
. 
@media screen and (min-width: 377px) {  
    body {
        font-size: 16px;
        padding: 3em;
        margin: 0, 0, 0, 0;
    }

    .background__inicial {
        display: inline;
        width: 7em;
    }

    .conteudo__titulo {
        font-size: 28px;
    }

    .conteudo__link {
        width: 12em;
    }
}
*/